* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #333;
  /* background-color: grey; */
  padding: 5px;
}
.container {
  background-color: grey;
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 10px;
}

.heading {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  justify-content: center;
}
.name {
  letter-spacing: 3px;
  color: rgb(11, 247, 11);
  font-weight: bolder;
}
.synonym {
  letter-spacing: 1px;
  color: #fff;
  font-style: italic;
  font-weight: lighter;
}

.image {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  width: 100%;
}
img {
  width: 100%;
}
.text {
  text-align: center;
  margin: 10px;
}
span {
  color: green;
  font-weight: bolder;
  font-size: 1.4rem;
}
.timeline {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: left;
}
ul {
  max-width: 520px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 40px;
}
ul li {
  padding: 8px;
}

blockquote {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 1rem;
  color: honeydew;
  margin: 10px;
}
.link {
  font-weight: bolder;
  text-align: center;
  padding: 20px 0;
}
footer {
  width: 100%;
  background-color: khaki;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  font-style: oblique;
  color: lightcoral;
  font-size: 1.2rem;
  text-align: center;
}
footer span {
  color: red;
  font-size: 2rem;
}
